

<div stule="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>



<nav class="navbar navbar-expand navbar-dark bg-dark">

    <div class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
            <a href="/courseEnrolled" class="nav-link">Course Enrolled</a>
        </li>
        <li class="nav-item" *ngIf="currentUser">
            <a href="/courseCompleted" class="nav-link">Course Completed</a>
        </li>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>

    <div class="navbar-nav ml-auto" *ngIf="!currentUser">
        <li class="nav-item">
            <a href="/register" class="nav-link">
            <span class="glyphicon glyphicon-user"></span>Sign Up</a>
        </li>
        <li class="nav-item">
            <a href="/login" class="nav-link">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
    </div>

    <div class="navbar-nav mr-auto" *ngIf="currentUser">
        <li class="nav-item">
            <a href="/profile" class="nav-link">
            <span class="glyphicon glyphicon-user"></span>{{currentUser.name}}</a>
        </li>
        <li class="nav-item">
            <a href (click)="logOut()" class="nav-link">
            <span class="glyphicon glyphicon-log-in"></span> Logout</a>
        </li>
    </div>

</nav>

<router-outlet></router-outlet>